.inicio h4{
    padding: 20px;
    font-size: medium;
    font-weight: bolder;
    color: #dfdddd;
}
.inicio a{
    text-decoration: none;
    color: #000;
}
.inicio a:hover{
    color: rgb(111, 109, 109);
}
.presentacion{
    width: 100%;
    height: 100%;
    background: #fff;
}
.presentacion h2{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    padding-top: 10%;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
}
.presentacion p{
    padding: 5px;
    font-size: 100%;
    text-align: center;
    color: #000;
    font-family: 'Gantari', sans-serif;
}
.productos p{
    font-size:medium;
    color: #CCCBC9;
    font-weight: 400;
}
.productos img{
    width: 100%;
    height: 100%;
    padding-top: 10%;
}
.info{
    padding: 7px;
}

.productos img:hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}